pkgbase = python-terminal-tetris
	pkgdesc = A simple Tetris game for the terminal.
	pkgver = 0.0.5
	pkgrel = 1
	url = https://github.com/averyvisentin/terminal-tetris
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-build
	depends = python-blessed
	source = terminal_tetris-0.0.5.tar.gz::https://files.pythonhosted.org/packages/source/t/terminal_tetris/terminal_tetris-0.0.5.tar.gz
	sha256sums = 3b39287a5e93777a2e4c819f4f06a08e44f11592836352773d38d084fec09ff7

pkgname = python-terminal-tetris
